<h1 class="subtitle is-6">
    <b>Escoge un nivel para empezar.</b>
</h1>

<form action="/memorygame" method="POST">

    <div class="field">
      <div class="control center_align">
        <div class="select">
          <select name="niveles">
            <option disabled selected>Seleccione un nivel de juego</option>
            <option>Nivel 1 (4x3)</option>
            <option>Nivel 2 (6x3)</option>
            <option>Nivel 3 (6x4)</option>
          </select>
        </div>
      </div>
    </div>
   
    <!--Imagen de Bienvenida al juego, cambiara al escoger el nivel-->

    <div>
       <button type="submit" class="button is-info is-rounded button_width">Jugar</button> <br>
    </div>

</form>

